.services {}

.FATHER {
    background: var(--super-dark);
    height: 96vh;
}

.container__services {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        'title_services carousel_services phrase_services'
    ;
    text-align: center;
    padding: 50px;
}

.title_services {
    font-size: var(--h2);
    grid-area: title_services;

    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    border: 1px solid rgb(0, 255, 128);
    padding: 0 75%;
}


.carousel_services {
    grid-area: carousel_services;

    padding: .5px;
    border: 1px solid rgb(255, 136, 0);
}


.phrase_services {
    grid-area: phrase_services;

    text-align: left;
    border: 1px solid rgb(119, 0, 255);

}

.phrase_services h1 {

    padding: 40px;
    text-align: left;
}

@media (max-width: 992px) {
    .title_services {
        padding: 0 20%;
    }
}

@media (max-width: 768px) {

    .container__services {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);

        grid-template-areas:
            'title_services'
            'carousel_services'
            'phrase_services'
        ;

        padding: 10px;
    }

    .carousel_services {
        padding: 0 20px;
        border: 1px solid rgb(255, 136, 0);
    }

    .phrase_services {
        margin-top: 20px;
    }

    .title_services {
        writing-mode: horizontal-tb;
        margin-left: 0;

        padding: 0 20%;
        border: 1px solid rgb(0, 255, 128);
    }

    .phrase_services h1 {
        margin-top: 0%;
        margin-left: 0%;
        text-align: center;
        padding: 0;
    }
}