.container__services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        'title_services carousel_services phrase_services'
    ;
    text-align: center;
    padding: 50px;
}

.title_services {
    grid-area: title_services;

    writing-mode: vertical-lr;
    text-orientation: upright;
    margin-left: 50%;
    border: 1px solid rgb(0, 255, 128);
}

.carousel_services {
    grid-area: carousel_services;

    border: 1px solid rgb(255, 136, 0);
}




.phrase_services {
    grid-area: phrase_services;

    text-align: left;
    border: 1px solid rgb(119, 0, 255);
}

.phrase_services p {
    margin-top: 20%;
    margin-left: -20%;
}

@media (max-width: 768px) {

    .container__services {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);

        grid-template-areas:
            'title_services'
            'carousel_services'
            'phrase_services'
        ;
    }

    .phrase_services {
        margin-top: 20px;
    }

    .title_services {
        writing-mode: horizontal-tb;
        margin-left: 0;
        border: 1px solid rgb(0, 255, 128);
    }

    .phrase_services p {
        margin-top: 0%;
        margin-left: 0%;
    }
}