.active_image_container {
    position: fixed;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 100;
    pointer-events: none;
}

.active_image_container img {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
}


.about {
    height: auto;


}

.container__about {
    padding: 20px;
}

/* ---------------------------------------------------------------------------------------------- */
/* SECTION ONE ABOUT                                                                  ⬇ OPEN*/
.section_one_about {
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    padding: 50px;
}

.container_title_about {

    writing-mode: vertical-lr;
    transform: rotate(180deg);
    /* border: 1px solid blueviolet; */
    padding: 50px;
}

.title_about {
    font-size: var(--h2);
    margin-top: 50%;
    color: var(--orange);
}

.title_line {
    width: 2px;
    height: 150px;
    background-color: var(--orange) !important;
    display: inline-block;

}

.phrase_about {
    /* border: 1px solid rgb(43, 174, 226); */
    color: var(--super-marine);
}

.phrase_about h1 {
    width: 70%;
}

.phrase_about p {
    font-size: var(--p-992);
    width: 55%;
}

.phrase_about_years {
    font-size: 10rem;
}

/* SECTION ONE ABOUT                                                                  ⬆ CLOSE*/


/* -------------------------------------------------------------------------------------------- */


/* SECTION TWO ABOUT                                                                  ⬇ OPEN*/

.section_two_about {
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 40px;
    gap: 50px;
    color: var(--super-marine);
}

.card_about {
    width: 20%;

    text-align: left;

    padding: 30px;
    margin-bottom: 20px;

    overflow-wrap: break-word;
    overflow: hidden;
    transition: border 0.2s ease;
}

.card_about.active {

    padding: 30px;
    z-index: 1;

    text-align: left;

    overflow-wrap: break-word;
    overflow: hidden;
    transition: border 1 ease;
}

.card_about.inactive {
    border: none;
    border-radius: 0;
    transform: scale(0);
}

/* SECTION TWO ABOUT                                                                  ⬆ CLOSE*/


/* -------------------------------------------------------------------------------------------- */


/* SECTION THREE ABOUT                                                                  ⬇ OPEN*/


.img_about {

    width: 200px;
    height: 200px;
    margin-left: 10%;
    border: 1px solid blue;
}


/* SECTION THREE ABOUT                                                                  ⬆ CLOSE*/




/* RESPONSIVE ⬇ OPEN*/

@media (max-width: 992px) {
    .section_one_about {
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: repeat(1, 1fr);
        padding: 10px;
    }

    .phrase_about h1 {
        width: 80%;
    }

    .phrase_about p {
        font-size: var(--p-992);
        width: 85%;
    }

    .phrase_about_years {
        font-size: 5rem;
    }

}

@media (max-width: 768px) {

    .section_one_about {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 20px;
    }

    .title_about {
        writing-mode: horizontal-tb;
        transform: rotate(180deg);
        margin-top: 0%;

    }

    .title_line {
        width: 150px;
        height: 2px;
        background-color: black;
        display: inline-block;
    }

    .phrase_about_years {
        font-size: 4rem;
    }

    .phrase_about h1 {
        width: 100%;
    }

    .phrase_about p {
        width: 100%;
    }

    .section_two_about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 20px;
        gap: 50px;
    }

    .card_about {
        cursor: default;
        width: 80%;
        border-radius: 20px;
        padding: 20px;

    }

}