.container__about {
    padding: 20px;
}

/* ---------------------------------------------------------------------------------------------- */
/* SECTION ONE ABOUT                                                                  ⬇ OPEN*/
.section_one_about {
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    padding: 50px;
}

.container_title_about {

    writing-mode: vertical-lr;
    transform: rotate(180deg);
    border: 1px solid blueviolet;
    padding: 50px;
}

.title_about {
    margin-top: 50%;
}

.title_line {
    width: 2px;
    height: 100px;
    background-color: black;
    display: inline-block;
}

.phrase_about {
    border: 1px solid rgb(43, 174, 226);
}

.phrase_about_years {
    font-size: 10rem;
}

/* SECTION ONE ABOUT                                                                  ⬆ CLOSE*/


/* -------------------------------------------------------------------------------------------- */


/* SECTION TWO ABOUT                                                                  ⬇ OPEN*/

.section_two_about {
    padding: 50px;
    text-align: left;
    margin-left: 30%;
}

/* SECTION TWO ABOUT                                                                  ⬆ CLOSE*/


/* -------------------------------------------------------------------------------------------- */


/* SECTION THREE ABOUT                                                                  ⬇ OPEN*/


.img_about {

    width: 200px;
    height: 200px;
    margin-left: 10%;
    border: 1px solid blue;
}


/* SECTION THREE ABOUT                                                                  ⬆ CLOSE*/




/* RESPONSIVE                                                                              ⬇ OPEN*/

@media (max-width: 768px) {

    .section_one_about {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 20px;
    }

    .title_about {
        writing-mode: horizontal-tb;
        transform: rotate(180deg);
        margin-top: 0%;

    }

    .title_line {
        width: 100px;
        height: 2px;
        background-color: black;
        display: inline-block;
    }

    .phrase_about_years {
        font-size: 4rem;
    }



    .section_two_about {
        padding: 20px;
        text-align: left;
        margin-left: 0%;
    }



}