.contact {
    height: 96vh;
}

.container__contact {
    padding: 50px 200px;
    margin-left: 100px;
}

.title_contact {
    font-size: var(--h2);
    color: var(--orange)
}

.sub_location,
.sub_email,
.sub_phone,
.sub_follow {

    margin-bottom: 70px;
    border-bottom: 1px solid var(--orange);
    width: auto;
}

@media (max-width: 768px) {

    .container__contact {
        padding: 50px;
        margin-left: 0;
    }
}