.contact {
    height: 96vh;
}

.container__contact {
    padding: 50px;
}

.title_contact {
    font-size: var(--h2);
}

.sub_email,
.sub_phone,
.sub_follow {

    margin-bottom: 40px;
    border-bottom: 1px solid var(--white);
    width: auto;


}