.navbar {}

.bar {}

@media (max-width: 768px) {
    .bar {
        max-width: 100%;

    }

    .MuiList-root {
        background: var(--marine);
        width: auto !important;

    }

    .MuiList-root li {
        color: var(--orange);
        font-size: var(--nav-responsive);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    /* MuiButtonBase-root MuiMenuItem-root MuiMenuItem-gutters MuiMenuItem-root MuiMenuItem-gutters css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root */
    /* MuiList-root MuiList-padding MuiMenu-list css-6hp17o-MuiList-root-MuiMenu-list */
}