@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

:root {

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* H1 Size <h1 /> */
  --h1-max: 3.4em;
  --h1-992: 1.5em;
  --h1-min: 2.8em;

  /* H2 size */
  --h2: x-large;

  /* Size <p /> media screen */
  --p-max: 1.7em;
  --p-992: 1.5em;
  --p-min: 1em;

  --nav-responsive: 1.2rem;

  /* Standars Colors  (font: yeseva one, monserrat clasic)*/
  --dark: #111111;
  --super-dark: #000000;

  --marine: #010812;
  --super-marine: #213547;

  --orange: #ff914d;
  --white: #ffffffde;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;


}

/* Class FATHER */
.father {
  background: var(--super-dark);
  color: var(--super-marine);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

/* H1 UNIQUE*/
h1 {
  font-size: var(--h1-max);
  line-height: 1.1;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}